* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    'nv'
    'mn';
    margin: 40px;
}

#info {
    text-align: left;
    margin: 20px;
}

nav {
    grid-area: nv;
    display: table;
    text-align: left;
}

.navLinks a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    
}
    
.navLinks li {
    list-style: none;
    text-align: left;
    cursor: pointer;
    margin: 20px;
    float: left;
}

.navLinks a:hover {
    color: rgb(0, 255, 0);
    transition: 400ms;
}
    
.menu {
    color: white;
    cursor: pointer;
    text-align: left;
    margin: 20px;
    display: none;
}

.mainActive {
    display: block;
}

.alltMys {
text-align: left
}

.alltMys img {
    width: 100%;
    height: auto;
    margin: 20px;
}

#namn {
    font-style: italic;
    text-align: left;
    margin: 20px;;
}

#pageNo {
    text-align: left;
}

#portLink {
    text-decoration: none;
    color: white;
}

#internetCandy {
    color: rgb(0, 255, 0);
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
}

#contacttext {
    color: white;
    text-align: left;
    margin: 20px;
}

#contacttext2 {
    color: white;
    text-align: left;
    margin: 20px;
}

#contacttext3 {
    color: white;
    text-align: left;
    margin: 20px;
}


@media only screen and (max-width: 600px) {
    body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    'nv'
    'mn';
}

#info {
    text-align: center;
}

nav {
grid-area: nv;
display: none;
text-align: center;
}

.navLinks a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-decoration: none;
    text-align: center;
}

.navLinks li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    float: none;
}

.menu {
    color: white;
    cursor: pointer;
    text-align: center;
    display: block;
}

#namn {
    font-style: italic;
    text-align: center;
}

h1 {
    color: rgb(0, 255, 0);
    text-align: center;
}

main {
    grid-area: mn;
    z-index: 1;
    top: 100vh;
}

.alltMys {
    text-align: center;
}

.alltMys img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#internetCandy {
    color: rgb(0, 255, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: 28px;
}

.mainActive {
    display: block;
}

#contacttext {
    color: white;
    text-align: center;
    margin: 20px;
}

#contacttext2 {
    color: white;
    text-align: center;
    margin: 20px;
}

#contacttext3 {
    color: white;
    text-align: center;
    margin: 20px;
}

h2 {
    color: white;
    text-align: center;
}

p {
    text-align: center;
    color: white;
}

#pageNo {
    text-align: center;
}
}

