* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: rgb(9, 255, 0);
    background-color: black;
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-areas:
    'nv'
    'mn'
}

/*nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
} */

h1 {
    text-align: center;
    margin: 20px;
    font-size: 4em;
}

#namn {
    color: white;
    font-style: italic;
    text-align: center;
}

#menu {
    color: white;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 40vw;
    height: 40vh;
    top: 0vh;
    background-color: black;
    align-items: center;
    width: 100vw;
    /*visibility: hidden;*/
    grid-area: nv;
    z-index: -2;
}

.links a {
    color: white;
    margin: 20px;
    align-items: center;
    text-decoration: none;
}

.links li{
    list-style: none;
}

.alltMys {
    grid-area: mn;
    top: 100vh;
}

.alltMys img {
    display: block;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    width: 345,6px;
    height: 194,4px;
}

#fjaril {
    position: absolute;
    right: 5%;
    top: 15vh;
}